/*
* @Author: Administrator
* @Date:   2017-09-11 22:09:20
* @Last Modified by:   Administrator
* @Last Modified time: 2017-09-11 22:46:37
*/
.row-position {
	padding: 15px;
}
.row-choose {
	padding: 0 15px;
}
.hasChoosed {
	border-bottom: 1px solid #17a78b;
	padding-bottom: 10px;
}

/* 查询条件 */
.query-promo-area {
	padding-bottom: 20px;
}
.query-conditions {
	padding: 0;
	padding-top: 15px;
}
.query-conditions > li {
	line-height: 30px;
}
.query-conditions > li > span {
	margin-right: 5px;
}
.condition-list > a {
	color: #fff;
}